---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/hero-coding-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/hero-coding.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/hero-coding.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/arie-surf-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/arie-surf.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/arie-surf.webp" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/arie-hero-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/arie-hero.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/arie-hero.webp" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About ##COMPANY NAME##</h2>
                <p class="cs-text">
                    Hi there, I'm Arie and I'm the founder of ##COMPANY NAME##, I am an engineer that enjoys surfing, sports, and good food. I also love designing websites and webapps as a hobby. The first website I built was a wordpress site documenting the intersection of my two passions, surfing and engineering. Unfortunately I learned how inefficient page builders like wordpress were and using shared hosting serices such as go-daddy. 
                </p>
                <p class="cs-text">
                    In 2024 my Dad needed a website for his small consulting business, but up front costs were quite high from local agencies. I decided to delve back into building websites to build something clean and simple for his needs. Through this I learned more about efficiently coding websites such that they loaded faster and got recognised easier by google. 
                </p>
                <p class="cs-text">
                    In 2025 I decided to turn this hobby into a side project helping out other small businesses in Perth gain digital presence online. So now here we are. All of the websites I build are entirely functional HTML/CSS/JS code that allows sites to rank better and run faster for the user. 
                </p>

                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}