---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/hero-coding-mob.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/hero-coding.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/hero-coding.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

<section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/arie-surf-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/arie-surf.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/arie-surf.webp" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/arie-hero-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/arie-hero.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/arie-hero.webp" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About ##COMPANY NAME##</h2>
                <p class="cs-text">
                    Hi there, I'm Arie and I'm the founder of ##COMPANY NAME##, I am an engineer that enjoys surfing, sports, and good food. I also love designing websites and webapps as a hobby. The first website I built was a wordpress site documenting the intersection of my two passions, surfing and engineering. Unfortunately I learned how inefficient page builders like wordpress were and using shared hosting serices such as go-daddy. 
                </p>
                <p class="cs-text">
                    In 2024 a friend needed a website for their small consulting business, but up front costs were quite high from local agencies. I decided to delve back into building websites to build something clean and simple for their needs. Through this I learned more about efficiently coding websites such that they loaded faster and got recognised easier by google. 
                </p>
                <p class="cs-text">
                    In 2025 I decided to turn this hobby into a side project helping out other small businesses in Perth gain digital presence online. So now here we are. All of the websites I build are entirely functional HTML/CSS/JS code optimised for mobile-first performance, and engineered to consistently achieve 90+ Google Page Speed scores, ensuring your site loads lightning-fast and ranks better. 
                </p>
                <p class="cs-text">
                    If you're interested in getting your business online with a low cost upfront fee, drop me a line! 
                </p>

                <a href="/contact" class="cs-button-solid">Reach Out!</a>
            </div>
        </div>
</section>
<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-489">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">FAQ</span>
            <h2 class="cs-title">If Your Question Is Not Here <span class="cs-color">Contact Us</span></h2>
            <p class="cs-text">
                Have a look through some of our nitty gritty FAQs for answers to the in-depth questions. Drop us a line if you want to learn more.
            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
        <ul class="cs-faq-group">
            <!-- Active class added as default -->
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Why Should I Choose Subscription over Lumpsum?
                    </span>
                </button>
                <p class="cs-item-p">
                    Choosing between a subscription and a lump sum depends on your financial strategy. The subscription model offers a $0 upfront cost with manageable monthly payments covering everything, ideal for cash flow. The lump sum requires a larger initial investment but saves you money long-term by paying for design and development upfront. Your decision hinges on whether you prioritize lower immediate costs and ongoing service (subscription) or upfront ownership and a more simple package (lump sum).
                </p>
            </li>
            <li class="cs-faq-item active">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Is there a minimum contract for the subscription model?
                    </span>
                </button>
                <p class="cs-item-p">
                    Yes, all subscription packages feature a minimum 12-month contract to start. After that, it continues month to month with the ability to cancel at any time with 30 days notice. Upon cancellation, your website and associated services will cease. We aim to provide exceptional ongoing value, ensuring your website continues to be a strong asset for your business.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Do I keep the site if I cancel the subscription?
                    </span>
                </button>
                <p class="cs-item-p">
                    No, under the subscription model, you do not retain ownership of the website files upon cancellation. The subscription covers the design, development, hosting, and ongoing services, providing you with a fully managed online presence. If you choose to cancel after your minimum term, your website and associated services will be deactivated. 
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Can I just buy out the subscription once the 12-month contract is up?
                    </span>
                </button>
                <p class="cs-item-p">
                    No, our subscription model does not include a buyout option after the initial minimum term. This model is designed to provide long-term, comprehensive service and support for your website, ensuring its continued performance and your business's ongoing online success. The monthly recurring payments allow us to consistently invest in your site's maintenance, updates, and dedicated support, fostering a strong, lasting partnership. If you prefer outright ownership of your website from the start, our lump sum payment option is available.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Can you get me to the front page of Google?
                    </span>
                </button>
                <p class="cs-item-p">
                    We can't promise you a #1 spot on Google's front page, and honestly, anyone who does is likely misleading you. Getting there, especially in competitive markets, takes consistent effort and time. What we can guarantee is building you a lightning-fast, bloat-free, and SEO-optimized website that Google loves. We give you the absolute best foundation to rank well. Ultimately, Google's algorithms and your market competition determine how fast or high your site climbs.  
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1644">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Approach</span>
            <h2 class="cs-title">What We Provide To Your Business</h2>
            <p class="cs-text">
                We hand-code every line of HTML, CSS, and JavaScript. This deliberate approach means no inefficient page builders, no unnecessary code or plugins, and absolutely no bloat. The result is a lean, clean website that performs well and loads with exceptional speed..
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/checkmark-circle-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Ongoing Support</h2>
                    <p class="cs-item-text">
                        Whether you choose our upfront or subscription model, we foster a long-term partnership, providing reliable hosting, robust security, regular backups, and ongoing support. Your website remains a high-performing asset, allowing you to focus on your business with complete peace of mind.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/dashboard-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">90+ Page Speeds</h2>
                    <p class="cs-item-text">
                        Every website we build is optimized to achieve a 90+ Google Page Speed score. This commitment to instant loading times ensures a superior user experience, lowers bounce rates, and lays a powerful foundation for better search engine visibility.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Lifebuoy-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Mobile-First</h2>
                    <p class="cs-item-text">
                        The current generation primarily accesses websites via mobile, we design and develop your website with mobile users in mind from the very first line of code. We ensure your site will functions perfectly across all devices, from smartphones to desktop monitors.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Like-gold.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Affordable Solutions</h2>
                    <p class="cs-item-text">
                        We believe high-performance web design should be accessible to all small businesses. Our $0 upfront subscription model removes the burden of large initial investments, offering a low barrier to entry with predictable, manageable monthly payments. 
                    </p>
                </div>
            </li>
        </ul>
    </div>                            
</section>                               

<script src="/assets/js/faq.js" defer></script> 
                      
    {% include 'components/cta.html' %}

{% endblock %}