---
title: 'Calculator |  Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'calculator/'
eleventyNavigation:
    key: Package Calculator
    order: 3300
    parent: Pricing
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/calculator.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
        <h1 id="home-h">Our Calculator</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1387">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Pricing</span>
            <h2 class="cs-title">Flexible Pricing Plans for Your Tailored Needs</h2>
            <p class="cs-text">
                We understand that every small business faces unique budget considerations. That's why our plans are designed to eliminate hefty upfront costs, offering scalable solutions that adapt to your financial comfort and evolving needs.
            </p>
            <p class="cs-text">
                Our aim is to reduce up front risk to small businesses by providing a $0 upfront cost, with a recurring monthly payment we can both plan for. 
            </p>
            <div class="cs-toggle-group">
                <span id="cs-option1-1387" class="cs-plan">Subscription</span>
                <div class="cs-toggle" aria-label="click to switch plans pricing">
                    <span aria-hidden="true" class="cs-toggle-switch"></span>
                </div>
                <span id="cs-option2-1387" class="cs-plan">Lump Sum</span>
            </div>
        </div>
        <ul class="cs-card-group cs-option1">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Small-Business</span>
                    <span class="cs-price">
                        $0
                        <span class="cs-duration">+ $149/Month</span>
                    </span>
                    <span class="cs-subheading"></span> 
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Popular
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Up to 5 Pages</li>
                        <li class="cs-li">Mobile Optimised</li>
                        <li class="cs-li">Hosting Included
                        <li class="cs-li">Ongoing Edits*</li>
                        <li class="cs-li">Google Analytics (inc)</li>
                        <li class="cs-li">Google My Business (inc)</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Now</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Micro-Business</span>
                    <span class="cs-price">
                        $0
                        <span class="cs-duration">+ $99/Month</span>
                    </span>
                    <span class="cs-subheading"></span> 
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Popular
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">1 page site</li>
                        <li class="cs-li">Mobile-Optimised</li>
                        <li class="cs-li">Hosting Included
                        <li class="cs-li">Ongoing Edits*</li>
                        <li class="cs-li cs-disabled">Google Analytics ($25/mo)</li>
                        <li class="cs-li cs-disabled">Google My Business ($25/mo)</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Read More</a>
                </div>
            </li>
        </ul>
        <ul class="cs-card-group cs-option2">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Small-Business</span>
                    <span class="cs-price">
                        $1800
                        <span class="cs-duration">+$25/month</span>
                    </span>
                    <span class="cs-subheading"></span> 
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Popular
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Up to 5 pages</li>
                        <li class="cs-li">Mobile-Optimised</li>
                        <li class="cs-li">$25/month Hosting</li>
                        <li class="cs-li cs-disabled">Google Analytics ($25/mo)</li>
                        <li class="cs-li cs-disabled">Google My Business ($25/mo)</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Get Now</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Micro-Business</span>
                    <span class="cs-price">
                        $999
                        <span class="cs-duration">+$25/month
                        </span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">1 page site</li>
                        <li class="cs-li">Mobile-Optimised</li>
                        <li class="cs-li">$25/month Hosting</li>
                        <li class="cs-li cs-disabled">Google Analytics ($25/mo)</li>
                        <li class="cs-li cs-disabled">Google My Business ($25/mo)</li>
                    </ul>
                    <a href="" class="cs-button-transparent">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>     
<script src="/assets/js/pricing-toggle.js" defer></script>                            

<!-- ============================================ -->
<!--                   CALCULATOR                 -->
<!-- ============================================ -->
<section id="cost-calculator">
        <div class="calculator-container">
            <h2>Website Package Comparison - Cost Over Time</h2>

            <div class="input-group">
                <h3>Select Your Package</h3>
                <div class="package-selection">
                    <label>
                        <input type="radio" name="package" value="micro-business" checked> 
                        Micro Business: <br>
                        $0 upfront + $99 monthly OR $999 upfront + $25 monthly
                    </label>
                    <label>
                        <input type="radio" name="package" value="small-business"> 
                        Small Business: <br>
                        $0 upfront + $149 monthly OR $1800 upfront + $25 monthly
                    </label>
                </div>
            </div>

            <div class="input-group add-ons-group">
                <h3>Select Your Add-ons</h3>
                <div>
                    <label>
                        <input type="checkbox" id="addonGoogleMyBusiness"> Google My Business Management ($25/month)
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" id="addonLogoCreation"> Logo Creation ($150 once off)
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" id="addonGoogleAnalytics"> Google Analytics Setup ($25/month)
                    </label>
                </div>
            </div>
            
            <div class="chart-container">
                <canvas id="costChart"></canvas>
            </div>

            <h3>Cost Breakdown Over Time</h3>
            <div class="table-container">
                <table id="costTable">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Package + Add-ons (Subscription)</th>
                            <th>Package + Add-ons (Lump Sum)</th>
                        </tr>
                    </thead>
                    <tbody>
                        </tbody>
                </table>
            </div>
        </div>
    </section>
    <script src="/assets/js/calculator.js"></script> 

    {% include 'components/cta.html' %}
{% endblock %}