---
title: 'Pricing | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'pricing/'
eleventyNavigation:
    key: Pricing
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
        <h1 id="home-h">Our Pricing</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1384">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Subscription Pricing</span>
            <h2 class="cs-title">Low Risk, $0 Down</h2>
            <p class="cs-text">
                We understand that a large upfront cost of a website can be risky for some businesses. Therefore, we offer a ongoing subscription relationship that spreads out the website cost over years. Our aim is to be a comprehensive service that handles everything,  
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Small-Business</span>
                    <span class="cs-price">
                        $149
                        <span class="cs-duration">/Month</span>
                    </span>
                    
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">Up to 5 Page Site Design & Development</li>
                    <li class="cs-li">Mobile Optimised</li>
                    <li class="cs-li">Hosting Included</li>
                    <li class="cs-li">Ongoing Edits*</li>
                    <li class="cs-li">Google Analytics</li>
                    <li class="cs-li">Google My Business Management</li>
                </ul>
                <a href="" class="cs-button-transparent">Get Now</a>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Micro-Business</span>
                    <span class="cs-price">
                        $99
                        <span class="cs-duration">/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Popular
                    </div>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">1 Page Site Design & Development</li>
                    <li class="cs-li">Mobile Optimised</li>
                    <li class="cs-li">Hosting Included</li>
                    <li class="cs-li">Ongoing Edits*</li>
                    <li class="cs-li cs-disabled">Google Analytics (+$25/mo)</li>
                    <li class="cs-li cs-disabled">Google My Business Management (+$25/mo)</li>
                </ul>
                <a href="" class="cs-button-transparent">Read More</a>
            </li>                                   
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">MOBILE FIRST - 90+ PAGE SPEEDS</span>
            <h2 class="cs-title">All Packages Feature Mobile First, Fast Code with 90+ page speeds.</h2>
            <p class="cs-text">
                In today's day and age, the majority of people are accessing websites using their mobile phones. However, statistics show that slow page speeds result in people leaving websites at high rates. Therefore, having a fast mobile friendly website is vital to converting viewers to paying customers.
            </p>
            <a href="" class="cs-button-solid">Read Why this Matters</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1384">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Lump-Sum Pricing</span>
            <h2 class="cs-title">Tailored Solutions For All Small Businesses</h2>
            <p class="cs-text">
                For businesses that prefer an upfront investment with lower ongoing cost, our lump sum model offers a clear pathway to getting online. This option reflects the significant time and specialized skill involved in hand-coding, expert design, rigorous testing, and initial SEO setup.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Small-Business</span>
                    <span class="cs-price">
                        $1800
                        <span class="cs-duration">+ $25/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Popular
                    </div>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">Up to 5 Page Site Design & Development</li>
                    <li class="cs-li">Mobile Optimised</li>
                    <li class="cs-li">$25/month Hosting</li>
                    <li class="cs-li cs-disabled">$50/month unlimited edits add-on (Opt)</li>
                    <li class="cs-li cs-disabled">$25/month Google Analytics (Opt)</li>
                    <li class="cs-li cs-disabled">$25/monthGoogle My Business Management (Opt)</li>
                </ul>
                <a href="" class="cs-button-transparent">Get Now</a>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Micro-Business</span>
                    <span class="cs-price">
                        $999
                        <span class="cs-duration">+ $25/Month</span>
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">1 Page Site Design & Development</li>
                    <li class="cs-li">Mobile Optimised</li>
                    <li class="cs-li">$25/month Hosting</li>
                    <li class="cs-li cs-disabled">$50/month unlimited edits add-on (Opt)</li>
                    <li class="cs-li cs-disabled">$25/month Google Analytics (Opt)</li>
                    <li class="cs-li cs-disabled">$25/month Google My Business Management (Opt)</li>
                </ul>
                <a href="" class="cs-button-transparent">Read More</a>
            </li>     
        </ul>                
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2172">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding9.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding9.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding9.jpg" alt="room" width="960" height="796">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">PACKAGES OVERVIEW</span>
            <h2 class="cs-title">What Package Works Best?</h2>
            <ul class="cs-ul">
                <li class="cs-li">
                    <h3 class="cs-h3">Monthly Subscription Model</h3>
                    <p class="cs-li-text">
                        Zero upfront cost, comprehensive package that includes everything you need, predictable monthly cost.
                    </p>
                </li>
                <li class="cs-li">
                    <h3 class="cs-h3">Upfront Lump sum Model</h3>
                    <p class="cs-li-text">
                        No ongoing cost aside from hosting (required) for businesses that just want to get online with minimal upkeep.
                    </p>
                </li>
            </ul>
            <a href="/calculator" class="cs-button-solid">Not Sure? Try our Calculator</a>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}